@{
  Layout = "_Layout";
}

<h1>Word Counter</h1>

<h3>Count the Number of Times the Word Appears in Your Sentences(s)</h3>

<div class="well">
  <form action="/wordcounter/results" method="post" class="form-input">
    <label for="new-sentence">Enter a sentence(s): </label>
    <input type="text" id="new-sentence" name="new-sentence" class="form-control">
    <label for="count-word">Word to count: </label>
    <input type="text" id="count-word" name="count-word" class="form-control">
    <button type="submit" class="btn btn-default count">Count!</button>
  </form>
</div>
